<?xml version="1.0"?>
<config>
    <modules>
        <Transform_Slideshow>
            <version>0.1.0</version>
        </Transform_Slideshow>
    </modules>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Transform_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <slideshows translate="title" module="slideshow">
                        <title>Slideshows</title>
                        <sort_order>200</sort_order>
                        <title>Home page slideshow</title>
                        <action>slideshow/adminhtml_slides/</action>
                    </slideshows>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <slideshow>
                    <file>slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <slideshows translate="title" module="tfaqs">
                                    <title>Home Page Slideshow</title>
                                    <sort_order>310</sort_order>
                                </slideshows>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <models>
            <slideshow>
                <class>Transform_Slideshow_Model</class>
                <resourceModel>slideshow_resource</resourceModel>
            </slideshow>
            <slideshow_resource>
                <class>Transform_Slideshow_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>transform_slideshow</table>
                    </slide>
                </entities>
            </slideshow_resource>
        </models>
        <resources>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
            <slideshow_setup>
                <setup>
                    <module>Transform_Slideshow</module>
                    <class>Transform_Slideshow_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
        </resources>
        <blocks>
            <slideshow>
                <class>Transform_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Transform_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
</config>