.cms-organic .container{

}

.cms-organic .banner-area {
    background: url(../media/s1rpl1.jpg) center top no-repeat;
    background-size: cover;
    padding: 150px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
}
.cms-organic .banner-area h2 {
    line-height: 40px;
}

@media screen and (max-width: 480px) {
  .cms-organic .banner-area {
      padding: 20px;
  }
  .cms-organic .banner-area h2{
      font-size: 18px;
  }
  .cms-organic .banner-area h2{
      line-height: 28px;
  }
}



.cms-organic .greyarea.sec1 {
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0;
}
.cms-organic .greyarea.sec1 img {
    float: right;
    margin: 10px;
}
.cms-organic .orangearea.sec2 {
    background-color: #e25827;
    padding: 6px;
    margin: 20px 0;
    color: #fff;
}
.cms-organic .orangearea.sec2 h3 {
    margin: 5px 0 0 0;
}
.cms-organic .orangearea.sec2 .subsec1 {
    width: 23%;
    float: left;
    padding: 2% 5% 0 2%;
}
.cms-organic .orangearea.sec2 .subsec2 {
    width: 25%;
    float: left;
    padding: 2% 0 0 0;
}
.cms-organic .orangearea.sec2 .subsec3 {
    float: left;
    width: 45%;
}
