<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Flatrateperproduct>
            <version>0.1.0</version>
        </Magebuzz_Flatrateperproduct>
    </modules>
		<admin>
		   <translate>
            <modules>
                <Magebuzz_Flatrateperproduct>
                    <files>
                        <default>Magebuzz_Flatrateperproduct.csv</default>
                    </files>
                </Magebuzz_Flatrateperproduct>
            </modules>
        </translate>
		</admin>
    <global>
        <models>
            <flatrateperproduct>
                <class>Magebuzz_Flatrateperproduct_Model</class>
                <resourceModel>flatrateperproduct_mysql4</resourceModel>
            </flatrateperproduct>
            <flatrateperproduct_mysql4>
                <class>Magebuzz_Flatrateperproduct_Model_Mysql4</class>
                <entities>
                    <flatrateperproduct>
                        <table>flatrateperproduct</table>
                    </flatrateperproduct>
                </entities>
            </flatrateperproduct_mysql4>
        </models>
        <resources>
            <flatrateperproduct_setup>
                <setup>
                    <module>Magebuzz_Flatrateperproduct</module>
										<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flatrateperproduct_setup>
            <flatrateperproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flatrateperproduct_write>
            <flatrateperproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flatrateperproduct_read>
        </resources>
        <helpers>
            <flatrateperproduct>
                <class>Magebuzz_Flatrateperproduct_Helper</class>
            </flatrateperproduct>
        </helpers>
    </global>
    <default>
			<carriers>
	      <flatrateperproduct>
	           <active>1</active>
	           <model>flatrateperproduct/carrier_flatrateperproduct</model>
	           <title>Carrier Title</title>
	           <name>Method Name</name>
	           <price>5.00</price>
	           <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				</flatrateperproduct>
	    </carriers>
    </default>
</config>